* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.image-container {
    width: 50vw;
    height: 100vh;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    width: 50vw;
    height: 100vh;
    overflow-y: auto;
    background: #000;
    padding: 40px 60px;
}

h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #ff4d4d;
}

label {
    color: #ff4d4d;
    margin-bottom: 6px;
    font-size: 15px;
    display: block;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #333;
    background: #1a1a1a;
    color: #fff;
    font-size: 15px;
}

textarea {
    height: 80px;
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background: #d64545;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.submit-btn:hover {
    background: #b83838;
}

/* mobile */
@media (max-width: 768px) {

    body {
        flex-direction: column;
        height: auto;
        overflow-y: auto;
    }

    .image-container {
        width: 100vw;
        height: 40vh;
    }

    .container {
        width: 100vw;
        height: auto;
        padding: 20px;
    }

    h2 {
        font-size: 24px;
    }
}
