/* --- FORGOT PASSWORD PAGE STYLES --- */

.forgot-container {
    margin: 100px auto 60px; 
    padding: 0 20px;
}

.instruction-text {
    color: darkgray;
    margin-bottom: 30px;
    font-size: 1.1em;
}


.forgot-container .login-btn {
    width: 100%;
    padding: 22px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    background: red;
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}


.forgot-container a,
.forgot-container a:link, 
.forgot-container a:visited {
    color: red !important;
}

/* ------------------------------------------ */


.back-link {
    display: block; 
    margin-top: 25px;
    font-size: 18px;
    text-decoration: underline;
}
/* --- Hover Style --- */
body .forgot-container .back-link:hover {
    color: white !important; 
}


/* --- LIGHT MODE ADJUSTMENTS --- */
body.light-mode .forgot-container a,
body.light-mode .forgot-container a:link, 
body.light-mode .forgot-container a:visited {
    color: black !important; 
}
body.light-mode .forgot-container .back-link:hover {
    color: black !important; 
}
body.light-mode .instruction-text{
    color: black !important; ;
}
/* Light Mode Button Hover */
body.light-mode .forgot-container .login-btn:hover {
    background: darkred;
    color: white; 
}
body.light-mode .forgot-container a,
body.light-mode .forgot-container a:link, 
body.light-mode .forgot-container a:visited {
color: red !important; 
}
body.light-mode .forgot-container .back-link:hover {
color: black !important; 
}