/* ---FORGOT PASSWORD PAGE--- */

.forgot-container {
    margin: 80px auto 60px; 
    padding: 0 20px;
}

.instruction-text {
    color: darkgray;
    margin-bottom: 30px;
    font-size: 1.1em;
}


.forgot-container .login-btn {
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    background: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


.forgot-container a,
.forgot-container a:link, 
.forgot-container a:visited {
    color: red !important;
}




.back-link {
    display: block; 
    margin-top: 25px;
    font-size: 18px;
    text-decoration: underline;
}

/* --- Hover --- */
body .forgot-container .back-link:hover {
    color: white !important; 
}


/* --- LIGHT MODE ADJUSTMENTS --- */
body.light-mode .forgot-container a,
body.light-mode .forgot-container a:link, 
body.light-mode .forgot-container a:visited {
    color: black !important; 
}
body.light-mode .forgot-container .back-link:hover {
    color: black !important; 
}
body.light-mode .instruction-text{
    color: black !important; ;
}

/* Light Mode Button Hover */
body.light-mode .forgot-container .login-btn:hover {
    background: darkred;
    color: white; 
}
body.light-mode .forgot-container a,
body.light-mode .forgot-container a:link, 
body.light-mode .forgot-container a:visited {
color: red !important; 
}
body.light-mode .forgot-container .back-link:hover {
color: black !important; 
} 

/* === Small Phones === */
@media (max-width: 600px) {
    .forgot-container {
        margin: 50px auto 50px;
    }

    .forgot-container .login-btn {
        width: 50%;
        font-size: 15px;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .forgot-container {
        margin: 60px auto 55px;
    }

    .instruction-text {
        font-size: 1.05em;
    }

    .forgot-container .login-btn {
        width: 40%;
        font-size: 16px;
    }
}

/* Small Laptops */
@media (max-width: 1024px) {
    .forgot-container .login-btn {
        width: 35%;
    }
}

/* Large Laptops */
@media (max-width: 1280px) {
    .forgot-container .login-btn {
        width: 32%;
    }
}
