/* --- REGISTER PAGE SPECIFIC STYLES --- */
.register-container {
    margin: 80px auto 60px; 
    padding: 0 20px;
}

.register-container .login-btn {
    width: 100%;
    padding: 22px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    background: red;
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}
.register-container .login-btn:hover{
    background: darkred;
}

.register-container .register-link {
    display: block;
    color: red;
    margin-top: 25px;
    font-size: 18px;
    text-decoration: none;
}

.register-container .register-link:hover {
    color: white;
}

/* Light Mode Adjustment */
body.light-mode .register-container .register-link {
    color: red;
}

body.light-mode .register-container .register-link:hover {
    color: black;
}

body.light-mode .register-container .login-btn:hover {

    background: darkred;
}