/* --- CSS Reset & Global Styles --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Arial", sans-serif;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    text-align: justify;
}

p,
a {
    font-size: 20px;
    color: inherit;
}

.button {
    padding: 10px;
    text-decoration: none;
    border: 2px solid red;
    border-radius: 10px;
    display: inline-block;

}

.banner {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-bottom: 5px solid red;
    margin-bottom: 10px;
}