/* --- CSS Reset & Global Styles --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Arial", sans-serif;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    text-align: center;
}

p,
a {
    font-size: 20px;
    color: inherit;
}

.button {
    display: inline-block;
    width: 60%;
    max-width: 400px;
    padding: 14px 0;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.hover:hover {
    background-color: rgba(255, 0, 0, 0.3);
}


.banner {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    border-bottom: 20px solid red;
    margin-bottom: 40px;
    object-position: 50% 20%;
}

/* for light mode */
body.light-mode {
    background-color: #ffffff;
    color: #111111;
}

body.light-mode .button {
    background-color: #d00000;
    color: white;
}

body.light-mode .hover:hover {
    background-color: rgba(208, 0, 0, 0.3);
}

body.light-mode .banner {
    border-bottom-color: #d00000;
}
