* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: #000;
    overflow: hidden;
}

/* image */
.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1a1a1a;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* status */
.card {
    flex: 1;
    padding: 40px 60px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #ff4d4d;
}

.card p {
    font-size: 16px;
    margin-bottom: 25px;
}

/* Mechanic */
.mechanic-box {
    background: #141414;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.mechanic-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mechanic-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.mechanic-info span {
    font-size: 18px;
}

/*  Vehicle */
.vehicle-box {
    background: #141414;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.vehicle-box p {
    margin: 0;
    font-size: 16px;
}


.card h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.status-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.status {
    display: block;
    padding: 18px;
    background: #1a1a1a;
    border-radius: 12px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.2s ease;
}


.status.active {
    background: #d64545;
}


.status:hover {
    background: #333;
}

/* mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }
    
    .image-container {
        height: 40vh;
    }
    
    .card {
        padding: 20px;
    }
    
    .card h2 {
        font-size: 22px;
    }
}